apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-server-conf
  labels:
    name: prometheus-server-conf
  namespace: metax-monitor
data:
  prometheus.rules: |-
    groups:
      - name: metax gpu alerting rules
        rules:
          - alert: GPU not available
            expr: mx_gpu_state == 0
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found one or more MetaX devices are not available. Use "mx-smi -L" or "dmesg -T" to check detailed reason, and "mx-smi --show-unavailable-reason" to find recover suggestion.

          - alert: Driver kernel error
            expr: mx_kernel_error > 0
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found kernel error, use "dmesg -T" to check detailed reason.

          - alert: MetaXLink speed anomaly
            expr: mx_mxlk_bw > 0 AND mx_mxlk_speed < 32
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found MetaXlink speed anomaly, use "mx-smi topo --show-mxlk" to check detailed value.

          - alert: MetaXLink width anomaly
            expr: mx_mxlk_width > 0 and mx_mxlk_width < 16
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found MetaXlink width anomaly, use "mx-smi --show-metaxlink-bandwidth" to check detailed value.

          - alert: PCIe speed anomaly
            expr: mx_gpu_usage > 0 AND mx_pcie_speed < 32
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found PCIe speed anomaly, use "mx-smi --show-pcie" to check detailed value.

          - alert: PCIe width anomaly
            expr: mx_gpu_usage > 0 AND mx_pcie_speed < 16
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found PCIe width anomaly, use "mx-smi --show-pcie" to check detailed value.

          - alert: Over temperature
            expr: mx_chip_hotspot_temp > 110 OR mx_board_core_temp > 115
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found one or more MetaX devices over temperature, use "mx-smi --show-temperature" to check detailed value. It is better to shutdown the server.

          - alert: High temperature
            expr: mx_chip_hotspot_temp > 100 OR mx_board_core_temp > 100
            for: 30s
            labels:
              severity: warning
            annotations:
              description: Alert raise immediately when found one or more MetaX devices are with very high temperature, use "mx-smi --show-temperature" to check detailed value. It is better to remove running tasks.

          - alert: XCore DPM downgrade
            expr: mx_gpu_usage > 0 AND mx_xcore_dpm_level < 5
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found xcore DPM downgrade, use "mx-smi --show-dpm cur" to check details.

          - alert: clock throttle
            expr: mx_clk_thr > 1
            labels:
              severity: warning
            annotations:
              description: Alert raise immediately when found clock throttling, use "mx-smi --show-clk-tr" to check detailed reason.

          - alert: SRAM and DRAM uncorrectable Errors
            expr: mx_ecc_error_count{type=~".*_ue"} > 0
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found SRAM and DRAM uncorrectable Errors, use "mx-smi --ecc-count" to check details.

          - alert: SRAM and DRAM correctable Errors
            expr: mx_ecc_error_count{type=~".*_ce"} > 0
            labels:
              severity: warning
            annotations:
              description: Alert raise immediately when found SRAM and DRAM Correctable Errors, use "mx-smi --ecc-count" to check details.

          - alert: RAS uncorrectable error count
            expr: mx_ras_count{type=~".*ue"} > 0
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found RAS Uncorrectable Errors, use "mx-smi ras ras --show-count" to check details.

          - alert: RAS correctable error count
            expr: mx_ras_count{type=~".*ce"} > 0
            labels:
              severity: warning
            annotations:
              description: Alert raise immediately when found RAS Correctable Errors, use "mx-smi ras ras --show-count" to check details.

          - alert: pcie event which belongs to uncorrectable error count
            expr: mx_pcie_event{type=~"aer_ue"} > 0
            labels:
              severity: error
            annotations:
              description: Alert raise immediately when found pcie event's uncorrectable error, use "mx-smi --show-event all" to check details.

          - alert: pcie event which belongs to correctable error count
            expr: mx_pcie_event{type=~"aer_ce"} > 0
            labels:
              severity: warning
            annotations:
              description: Alert raise immediately when found pcie event's correctable error, use "mx-smi --show-event all" to check details.

  prometheus.yml: |-
    global:
      scrape_interval: 5s
      evaluation_interval: 5s
    rule_files:
      - /etc/prometheus/prometheus.rules
    alerting:
      alertmanagers:
        - scheme: http
          static_configs:
            - targets:
                - "alertmanager.monitoring.svc:9093"

    scrape_configs:
      - job_name: "metax-mx-exporter"
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_endpoints_name]
            regex: 'metax-mx-exporter'
            action: keep


      - job_name: 'node-exporter'
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_endpoints_name]
            regex: 'node-exporter'
            action: keep

      - job_name: 'kubernetes-apiservers'

        kubernetes_sd_configs:
          - role: endpoints
        scheme: https

        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
            action: keep
            regex: default;kubernetes;https

      - job_name: 'kubernetes-nodes'

        scheme: https

        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

        kubernetes_sd_configs:
          - role: node

        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/${1}/proxy/metrics

      - job_name: 'kubernetes-pods'

        kubernetes_sd_configs:
          - role: pod

        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: kubernetes_namespace
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: kubernetes_pod_name

      - job_name: 'kube-state-metrics'
        static_configs:
          - targets: ['kube-state-metrics.kube-system.svc.cluster.local:8080']

      - job_name: 'kubernetes-cadvisor'

        scheme: https

        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

        kubernetes_sd_configs:
          - role: node

        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor

      - job_name: 'kubernetes-service-endpoints'

        kubernetes_sd_configs:
          - role: endpoints

        relabel_configs:
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scheme]
            action: replace
            target_label: __scheme__
            regex: (https?)
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
            action: replace
            target_label: __address__
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
          - action: labelmap
            regex: __meta_kubernetes_service_label_(.+)
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: kubernetes_namespace
          - source_labels: [__meta_kubernetes_service_name]
            action: replace
            target_label: kubernetes_name
